.mainContainer{
    width: 50%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainContainerHeader{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.howToUseContainer{
    display: none;
    margin-bottom: 30px;
    text-align: center;
}

.howToUseHeaderContainer{
    text-align: center;
}

#howToUseHeader{
    font-weight: bold;
    display: inline-block;
}

#howToUseHeader:hover{
    cursor: pointer;
    text-decoration: underline;
}

.howToUseText{
    margin: 5px;
}

.howToHighlight{
    color: rgb(83, 131, 235);
}

#addBookContainer{
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

#addBookButton{
    background: rgb(206, 175, 255);
    padding: 7px;
    width: 50%;
    border: 2px solid  rgb(31, 31, 31);
    border-radius: 5px;
}

#addBookButton:hover{
    cursor: pointer;
}

.booksContainer{
    width: 50%;
    margin: auto;
}

.bookContainer{
    border: 3px solid rgb(31, 31, 31);
    padding: 20px;
    margin: 21px 0;
    border-radius: 5px;
    background-color: #afe2fa;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

.author, .body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pages{
    text-align: right;
    font-style: italic;
}

.status{
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.read, .notRead{
    padding: 3px 12px;
    font-size: 12px;
    font-weight: bold;
}

.read{
    background-color: rgba(76, 212, 76, 0.60);
    border: 1px solid rgb(31, 179, 31);
}

.notRead{
    background-color: rgba(255, 122, 122, 0.60);
    border: 1px solid rgb(224, 85, 85);
}

.deleteButtonContainer{
    text-align: right;
}

.deleteButton{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
}

/* Modal */
#myModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback Color */
    background-color: rgba(0,0,0,0.4); /* Background Color */
}

.modal-heading{
    padding: 16px;
    background-color: #ffce95;
}

.modalHeadingText{
    font-size: 24px;
    margin: 0;
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body{
    padding: 25px 16px;
}


@keyframes animatetop{
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#saveBookButton{
    background-color: #ffce95;
    border: 1px solid black;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    #addBookButton{
        width: 100%;
    }
    .mainContainer{
        width: 70%;
    }
    .modal-content{
        width: 80%;
    }
    .booksContainer{
        width: 100%;
    }
}